@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 6, 46);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: 'Lato', 'Ariel';
    margin: 0;
}

.movie-selector {
    margin: 20px 0;
}

.seat , .seat-l{
    background-color: rgb(255, 247, 247);
    height: 15px;
    width: 18px;
    margin: 4px;
    border-top-left-radius: 6px; /*make rounded top*/
    border-top-right-radius: 6px;
}

.seat:nth-of-type(5) {
    margin-right: 20px;
}
.selected:nth-of-type(5) {
    margin-right: 20px;
}
.occupied:nth-of-type(5) {
    margin-right: 20px;
}

.selected, .selected-l {
    background-color: rgb(23, 238, 23);
    height: 15px;
    width: 18px;
    margin: 4px;
    border-top-left-radius: 6px; /*make rounded top*/
    border-top-right-radius: 6px;
}

.occupied , .occupied-l{
    background-color: red;
    height: 15px;
    width: 18px;
    margin: 4px;
    border-top-left-radius: 6px; /*make rounded top*/
    border-top-right-radius: 6px;

}

/*
Whenever cursor hovers around avilable seats, change it to pointer.
*/
.seat:not(.occupied):hover {
    cursor: pointer;
    scale: (1.5);
}

.seats-legend {
    display: flex;
    align-items: center;
    list-style-type: none;
    border-radius: 5px;
    padding: 5px 10px;
    justify-content: space-between;
    margin: 0 10px;
}

.seats-legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.container {
    margin-bottom: 25px;
}

.movie-screen {
   background-color: antiquewhite;
   color: rgb(3, 6, 46);
   height: 60px;
   width: 90%;
   display: flex;
   justify-content: center; 
   margin: 15px;
}

#count,#price,#movie-selected{
    color: rgb(67, 241, 226);
}

.row {
    display: flex; /* display: flex is flexible elements will adjust*/
}

.checkout button {
    width: 150px;
    height: 50px;
    border-radius: 6px;
    background-color: rgb(199, 247, 247);
    color: black;
}
